<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>view-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngFor= "let p of list">
	<!-- <ion-list  > -->
<ion-row [routerLink]="['/profile-view',p.id]">
	<ion-col>
		<ion-label>Id:</ion-label>
	</ion-col>
	<ion-col>
		<ion-label>{{p.id}}</ion-label>
	</ion-col>
</ion-row>
<ion-row>
	<ion-col>
		<ion-label>First Name:</ion-label>
	</ion-col>
	<ion-col>
		<ion-label>{{p.firstName}}</ion-label>
	</ion-col>
</ion-row>
<ion-row>
	<ion-col>
		<ion-label>Last Name:</ion-label>
	</ion-col>
	<ion-col>
		<ion-label>{{p.lastName}}</ion-label>
	</ion-col>
</ion-row>
<ion-row>
	<ion-col>
		<ion-label>Address:</ion-label>
	</ion-col>
	<ion-col>
		<ion-label>{{p.address}}</ion-label>
	</ion-col>
</ion-row>
<ion-row>
	<ion-col>
		<ion-label>Mobile Number:</ion-label>
	</ion-col>
	<ion-col>
		<ion-label>{{p.mobile_number}}</ion-label>
	</ion-col>
</ion-row>
<ion-row>
	<ion-col>
	</ion-col>

	<ion-col>
			

	</ion-col>
	<ion-col>
				<!-- <ion-button ></ion-button> -->
<ion-icon name="create" class="del1" [routerLink]="['/update-profile',p.id]"></ion-icon>
		 <ion-icon name="trash"  class="del" (click)="del_profile(p.id)"></ion-icon>

		</ion-col>
	</ion-row>

</ion-card>
</ion-content>
