<ion-header>

  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>add-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item limes="none">
	<ion-label position="floating">First Name:</ion-label>
	<ion-input type="text" [(ngModel)]="f_name"></ion-input>
</ion-item>
<ion-item limes="none">
	<ion-label position="floating">Last Name:</ion-label>
	<ion-input type="text" [(ngModel)]="l_name"></ion-input>
</ion-item>
<ion-item limes="none">
	<ion-label position="floating">Address:</ion-label>
	<ion-input type="text" [(ngModel)]="address"></ion-input>
</ion-item>
<ion-item limes="none">
	<ion-label position="floating">Mobile Number:</ion-label>
	<ion-input type="text" [(ngModel)]="m_num"></ion-input>
</ion-item>
<ion-button (click)="addprofile()">Add</ion-button>
</ion-content>
s