<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>update-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<!-- <p>{{view_pro.id}}</p> -->
	<!-- <ion-item limes="none">
	<ion-label position="floating">id :</ion-label>
	<ion-input type="text" [(ngModel)]="id" ></ion-input>
</ion-item> -->
<ion-item limes="none">
	<ion-label position="floating">First Name:</ion-label>
	<ion-input type="text" [(ngModel)]="f_name" value="{{view_pro.firstName}}" ></ion-input>
</ion-item>
<ion-item limes="none">
	<ion-label position="floating">Last Name:</ion-label>
	<ion-input type="text" [(ngModel)]="l_name" value="{{view_pro.lastName}}"></ion-input>
</ion-item>
<ion-item limes="none">
	<ion-label position="floating">Address:</ion-label>
	<ion-input type="text" [(ngModel)]="address" value="{{view_pro.address}}"></ion-input>
</ion-item>
<ion-item limes="none">
	<ion-label position="floating">Mobile Number:</ion-label>
	<ion-input type="text" [(ngModel)]="m_num" value="{{view_pro.mobile_number}}"></ion-input>
</ion-item>
<ion-button (click)="updateprofile()">Update</ion-button>
</ion-content>
